@font-face {
    font-family: "pixel";
    src: url(font/kongtext.ttf);
}

* {
    font-family: "pixel";
    color: white;
}

body {
    background-image: url("img/background_plaine.jpg");
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

main {
    display: flex;
    justify-content: center;
    align-items: end;
    min-height: 100vh;
}

h2,
label {
    text-shadow: 0 0 5px black;
}


/* 
* MENU 
*/

.arcade {
    background-size: cover;
    background-position: right 10% bottom 55%;
    background-repeat: no-repeat;
}

.menu {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: auto;
}

.menu button {
    margin-top: 50px;
    top: 200px;
}


/* 
* SCORES
*/

.score,
.credit {
    width: 300px;
    margin: auto;
    padding-top: 11%;
}

.score div {
    margin-bottom: 10px;
}

.nes-table-responsive {
    display: flex;
    flex-direction: column;
}

.score tr,
.score tr th,
.score tr td,
.credit tr,
.credit tr th,
.credit tr td {
    padding: 15px;
    font-size: small;
}

.score form button,
.score form input {
    margin-top: 20px;
}

.score .nes-container .title {
    margin: -2rem 0 2rem 10rem;
}


/*
*   SECTION 
*/

.allies,
.enemy {
    margin-left: 60px;
    margin-right: 60px;
    min-height: 500px;
    max-width: 35%;
    justify-content: center;
}

.allies {
    align-content: flex-start;
}

section {
    min-height: 500px;
    max-height: 500px;
    max-width: 35%;
    display: grid;
    align-content: center;
}

article {
    display: block;
    text-align: center;
}

.allies img,
.enemy img {
    min-width: 250px;
    max-width: 250px;
    min-height: 250px;
    max-height: 250px;
    object-fit: contain;
}

.turn-arrow {
    height: 250px;
    align-content: start;
}

.turn-arrow img {
    width: 175px;
    height: 175px;
    transition: all 1s ease-out;
}

.enemy-turn {
    transform: rotate(-6367deg);
}

.quick-enemy-turn {
    transform: rotate(-3470deg);
}

.allies-turn {
    transform: rotate(-3350deg);
}

.quick-allies-turn {
    transform: rotate(230deg);
}

.disable {
    display: none;
}


/*
history
*/

.history {
    height: 80px;
    align-self: flex-start;
    display: flex;
    justify-content: start;
    position: fixed;
    max-width: 100vh;
    left: 1%;
}

.dead-enemy {
    object-fit: contain;
    width: 60px;
    filter: sepia(100%)
}

.damage-hero,
.damage-enemy {
    text-align: center;
    color: crimson;
    font-size: 1.5rem;
}


/*
Framework modif
*/

.nes-progress {
    width: 60%;
    height: 18px;
}

.nes-container {
    position: absolute !important;
    width: 30vw;
    top: 10%;
    left: 35vw;
    word-wrap: anywhere;
}

.overlay {
    background-image: url("img/background_arcade.png");
    background-size: 2900px 1550px;
    position: absolute;
    width: 100%;
    height: 100%;
    background-position: right 50% bottom 40%;
}


/*
*Animations déclencheur
*/

.anim-zoomin {
    animation-name: zoom-in;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

.anim-zoomout {
    animation-name: zoom-out;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

.fadeout {
    animation: fade-out;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
}

.fadein {
    animation: fade-in;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
}

.damage {
    animation: damage;
    animation-duration: 1.8s;
    animation-fill-mode: forwards;
}

.att-ally {
    animation: att-ally;
    animation-duration: .1s;
}

.att-enemy {
    animation: att-enemy;
    animation-duration: .1s;
}

.spe {
    animation: special;
    animation-duration: .5s;
}


/*
*Animations
*/

@keyframes special {
    0% {
        opacity: 100%;
    }
    25% {
        opacity: 0%;
    }
    75% {
        opacity: 100%;
    }
    100% {
        opacity: 0%;
    }
}

@keyframes att-ally {
    from {
        transform: translate(0px);
    }
    to {
        transform: translate(30px);
    }
}

@keyframes att-enemy {
    from {
        transform: translate(0px);
    }
    to {
        transform: translate(-30px);
    }
}

@keyframes damage {
    from {
        margin-top: 0%;
        opacity: 100%;
    }
    to {
        margin-top: -200px;
        opacity: 0%;
    }
}

@keyframes zoom-in {
    0% {
        transform: scale(1, 1);
    }
    100% {
        transform: scale(10, 10);
    }
}

@keyframes zoom-out {
    0% {
        transform: scale(10, 10);
    }
    100% {
        transform: scale(1, 1);
    }
}

@keyframes fade-in {
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}

@keyframes fade-out {
    0% {
        opacity: 100%;
    }
    100% {
        opacity: 0%;
    }
}

@media screen and (max-width: 1400px) {
    .allies img,
    .enemy img {
        margin-top: 20px;
    }
    .action {
        margin-top: 40px;
    }
    .turn-arrow img {
        margin-top: 40px;
    }
    .nes-container {
        width: 45vw;
        top: 5%;
        left: 27.5vw;
    }
    .menu button {
        margin-top: 40px;
        top: 130px;
    }
    .overlay {
        background-size: 2400px 1050px;
        background-position: right 50% bottom 40%;
    }
    .score {
        width: 300px;
        margin: auto;
        padding-top: 170px;
    }
    .score div {
        margin-bottom: 10px;
    }
    .score tr,
    .score tr th,
    .score tr td {
        font-size: 0.8rem;
    }
}