@font-face {
    font-family: "pixel";
    src: url(font/kongtext.ttf);
}

* {
    font-family: "pixel";
    color: white;
}

body {
    background-image: url("img/background_plaine.jpg");
    background-size: cover;
    background-position: right 10% bottom 75%;
    background-repeat: no-repeat;
}

main {
    display: flex;
    justify-content: center;
    align-items: end;
    min-height: 100vh;
}

h2,
label {
    text-shadow: 0 0 5px black;
}


/* 
* MENU 
*/

.menu {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: auto;
}

.menu button {
    margin-top: 50px;
    top: 200px;
}


/* 
* SCORES
*/

.score {
    width: 300px;
    margin: auto;
    padding-top: 11%;
}

.score div {
    margin-bottom: 10px;
}

.score tr,
.score tr th,
.score tr td {
    padding: 15px;
}

.score form button,
.score form input {
    margin-top: 20px;
}

.score .nes-container .title {
    margin: -2rem 0 2rem 10rem;
}


/*
*   SECTION 
*/

.allies,
.enemy {
    margin-left: 60px;
    margin-right: 60px;
    min-height: 500px;
    max-width: 35%;
    justify-content: center;
}

.allies {
    align-content: flex-start;
}

section {
    min-height: 500px;
    max-height: 500px;
    max-width: 35%;
    display: grid;
    align-content: center;
}

article {
    display: block;
    text-align: center;
}

.allies img,
.enemy img {
    min-width: 250px;
    max-width: 250px;
    min-height: 250px;
    max-height: 250px;
    object-fit: contain;
}

.turn-arrow {
    height: 250px;
    align-content: start;
}

.turn-arrow img {
    width: 175px;
    height: 175px;
    transition: all 1s ease-out;
}

.enemy-turn {
    transform: rotate(-6367deg);
}

.quick-enemy-turn {
    transform: rotate(-3470deg);
}

.allies-turn {
    transform: rotate(-3350deg);
}

.quick-allies-turn {
    transform: rotate(230deg);
}

.disable {
    display: none;
}


/*
history
*/

.history {
    height: 80px;
    align-self: flex-start;
    display: flex;
    justify-content: start;
    position: fixed;
    max-width: 100vh;
    left: 1%;
}

.dead-enemy {
    object-fit: contain;
    width: 60px;
    filter: sepia(100%)
}


/*
Framework modif
*/

.nes-progress {
    width: 60%;
    height: 18px;
}

.nes-container {
    position: absolute !important;
    width: 30vw;
    top: 10%;
    left: 35vw;
    word-wrap: anywhere;
}

.overlay {
    background-image: url("img/background_arcade.png");
    background-size: 2900px 1550px;
    position: absolute;
    width: 100%;
    height: 100%;
    background-position: right 50% bottom 40%;
}

@media screen and (max-width: 1400px) {
    .allies img,
    .enemy img {
        margin-top: 20px;
    }
    .action {
        margin-top: 40px;
    }
    .turn-arrow img {
        margin-top: 40px;
    }
    .nes-container {
        width: 45vw;
        top: 5%;
        left: 27.5vw;
    }
    .overlay {
        background-size: 2400px 1050px;
        background-position: right 50% bottom 40%;
    }
    .menu {
        display: flex;
        flex-direction: column;
        width: 300px;
        margin: auto;
        padding-top: 150px;
    }
    .menu button {
        margin-top: 20px;
    }
    .score {
        width: 300px;
        margin: auto;
        padding-top: 170px;
    }
    .score div {
        margin-bottom: 10px;
    }
    .score tr,
    .score tr th,
    .score tr td {
        font-size: 0.8rem;
    }
}